// About
#about_block
  .title--section
    padding-bottom: 5vh

.features
  display: flex
  justify-content: space-between
  width: 100%
  +v-xs
    display: block
.feature
  width: 20%
  height: 300px
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: flex-start
  border-radius: 48px 0 24px 24px
  background-color: darken($premium, 15%)
  box-shadow: 0 6px 6px rgba(0,0,0,.25), inset 0 -12px 0 rgba(0,0,0,.25)
  +v-xs
    width: 90%
    margin: 0 auto 4vh
  &__icon
    width: 50%
    margin: 0 auto 10px
  &__text
    width: 80%
    margin: 20px auto 0
    color: $white
    font-size: 1.1em
    font-weight: 700
    text-align: center
    text-transform: uppercase
.about
  width: 60%
  max-width: 1200px
  margin: 0 auto
  +v-md
    width: 80%
  +v-sm
    width: 90%
  .title
    &--single
      margin-bottom: 75px
      +v-md
        margin-bottom: 50px
      +v-xs
        margin-bottom: 33px
  &__resume
    padding: 60px 80px
    border-radius: 48px 0 24px 24px
    background-color: darken($premium, 15%)
    box-shadow: 0 6px 6px rgba(0,0,0,.25), inset 0 -12px 0 rgba(0,0,0,.25)
    +v-md
      padding: 40px 60px
    +v-sm
      padding: 30px 50px 40px
    +v-sm
      padding: 25px 35px 30px
    p
      display: flex
      justify-content: space-between
      padding: 5px 0
      color: $white
      font-size: 1.1em
      font-weight: 500
      line-height: 1.5
      +v-xs
        display: block
      strong
        +v-xs
          display: block
          margin-bottom: 10px
      em
        padding-top: 5px
        font-size: 0.85em
        font-weight: 600
        +v-xs
          display: block
          margin-bottom: 10px
      span
        width: 65%
        a
          color: $white
          +v-xs
            word-break: break-word
            padding: 10px 0 !important

    h3
      padding: 30px 0 40px
      color: $white
      font-size: 1.25em
      font-weight: 700
      +v-sm
        padding: 20px 0 25px
