// Title
.title
  &--default
    margin: 0 5vw 0 0
    color: $premium
    font-size: 4em
    font-weight: 600
  &--intro
    margin-bottom: 5vh
    color: $white
    font-size: 3.5em
    font-weight: 400
  &--section
    margin-bottom: 10vh
    color: $premium
    font-size: 7em
    font-weight: 900
    text-align: right
    &.left
      text-align-last: left
  &--single
    margin: 10vh auto
    color: $white
    font-size: 4em
    font-weight: 300
    text-align: center
  &--product
    margin: 10vh auto 0
    color: $white
    font-size: 3.75em
    font-weight: 800
    text-align: left
