/* Base Styles */

html {
  position: relative;
  height: 100%;
}

body * {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 99%;
  color: #999;
  outline: none !important; 
}

a.sound-off,
a.sound-on,
a.pause-video,
a.play-video {
  display: block;
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 2000;
}

a.pause-video,
a.play-video {
  top: 19px;
  left: 40px;
  font-size: 65%;
  color: #666;
}

#intro i.fa {
  color: #666;
}

a.sound-on,
a.play-video {
  display: none;
}

a:hover,
a:visited,
a:focus {
  text-decoration: none !important; 
}

a:hover {
  opacity: .75 !important;  
}

b {
  font-weight: 600;
  color: #666;
}

i.fa {
  color: #fbbd00;
}

figure img {
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
  clear: none;
  float: left;
}

/* Tabs */

.tab-pane {
  transition: all ease-in-out 1s;
}

#offers a,
#about a,
#testimonials a {
  transition: all ease-in-out .4s;
}

/* Modals for Subscribe & Contact Alert Message */

.modal {
  top: 40px;
}

.modal-content {
  background-color: rgba(0,0,0,.75);
  border-radius: 1px;
}

.modal-body {
  padding: 40px;
}

.modal-header {
  border-bottom: 1px solid rgba(100,100,100,.25);
}

.close span,
.modal h2 {
  color: #fff !important;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

.modal h2 {
  font-size: 16px;
}

#contact-modal *,
#subscribe-modal * {
  color: #fff !important;
}

/* Buttons */

.btn {
  border-radius: 1px;
  padding: 10px 25px;
}

.btn-dark,
.btn-color {  
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  transition: background ease .2s;
  border: none;
}

.btn-color {
  color: #fff;
  background: #fbbd00;
}

.btn-dark {
  color: #fff;
  background: #444;
}

.btn-dark:hover {
  color: #fff;
  background: #fbbd00;
  box-shadow: none;
}

.btn-color:hover {
  color: #fff;
  background: #444; 
  box-shadow: none;
}

/* Clearfix */

.clearfix-40 {
  height: 40px;
}

.clearfix-50 {
  height: 50px;
}

.clearfix-60 {
  height: 60px;
}

.clearfix-70 {
  height: 70px;
}

.clearfix-80 {
  height: 80px;
}

.clearfix-120 {
  height: 120px;
}

/* Colors */

.one-color {
  color: #fbbd00;
}

.two-color {
  color: #b2c001;
}

.dark-color {
  color: #444;
}

.light-color {
  color: #fff;
}

.header {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid #fbbd00;
}

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: #444;
}

.title,
.sub-title {
  font-family: 'Belgrano', Georgia, serif;
  font-size: 24px;
}

.sub-title {
  font-size: 18px;
  padding-left: 20px;
  padding-bottom: 2px;
  margin-bottom: 20px;
  border-left: 2px solid #fbbd00;;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Header */

header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  transition: all ease-in-out .5s;
}

.navbar-inverse {
  border: none;
  border-radius: 0;
  background: rgba(0,0,0,.85);
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

header nav a {
  font-size: .85em;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none !important;
}

header nav a:hover {  
  color: #fff !important;
}

#intro,
#about,
#action,
footer {
  box-shadow: inset 0 1000px 300px rgba(0,0,0,.25),
              inset 0 -1000px 300px rgba(0,0,0,.25);
}

/* INTRO */

#intro {
  position: relative;  
  min-height: 700px;
  /* background: #444 url(../img/bgs/intro.jpg) center center no-repeat;
  background-size: cover; */
}

#logo {
  margin-top: 200px;
}

#intro h3, 
h2 {
  margin: 0;
  padding: 0 0 40px;
  font-family: 'Belgrano', Georgia, serif;
  font-size: 21px;
}

#intro h2 {
  margin: 0;
  padding: 50px 0 5px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 100;
}

.start-btn {
  display: inline-block;
  width: 180px;
  height: 40px;
  margin-bottom: 200px;
  line-height: 38px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none !important;
  border: 1px solid #fff;
  border-radius: 20px;
}

.start-btn:hover {
  opacity: .75;  
}

/* Content */

#content {
  background: #fefefe;
}

/* Offers */

#offers .header {
  margin-bottom: 0;
}

.offer-tabs li {
  display: block;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0;
  margin-top: -1px;
  font-size: 12px;
}

.offer-tabs li.active a,
.offer-tabs li a:hover {
  text-decoration: none;
  font-weight: 600;
  color: #444;
}

#offers .pull-left,
#offers .pull-right {
  width: 40%;
  display: block;
  padding: 36px 5px 20px 0;
  margin: 0;
}

#offers .pull-left {
  width: 60%;
  min-height: 180px;
  padding: 30px 50px 30px 4px;
  border-right: 2px solid #fbbd00;
}

/* About */

#about {
  background: #444 url(../img/about/bg.jpg) center center no-repeat;
  background-size: cover;
}

.about-tabs li {
  display: block;
  text-align: center;
}

.about-tabs li a {
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  background: none;
  border-radius: 4px;
  border: 1px solid #fbbd00;
  opacity: 1;
}

.about-tabs li a:hover,
.about-tabs li.active a {
  background: #fbbd00;
}

.about-tabs li a:hover {
  opacity: .5;
}

/* Features */

.feature img {
  max-width: 20%;
  margin-right: 20px;
}

/* Action */

#action {
  background: #444 url(../img/actions/bg01.jpg) center center no-repeat;
  background-size: cover;
}

.callus {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.callus img {
  float: left;
  margin-right: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.callus * {
  color: #fff;  
}

.callus h4 {
  padding-top: 15px;
  font-size: 150%;
  line-height: normal;
}

/* Gallery */

#gallery {
  position: relative;
  overflow: hidden;
}

#gallery .orange-box {
  position: absolute;
  top: 120px;
  bottom: 150px;
  right: 0;
  width: 200px;
  height: auto;
  background: #fbbd00;
}

#gallery h2 {
  margin-top: 130px;
  margin-bottom: 130px;
  margin-left: -50px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #444;
  text-transform: uppercase;
  transform: rotate(-90deg);
}

#gallery figure {
  margin-bottom: 0;
}

#gallery p {
  display: block;
  height: 40px;
  line-height: 40px;
  margin-bottom: 120px;
}

#gallery p small {
  display: block;
  width: 100%;
  padding-left: 15px;
  background: #444;
  color: #fff;
}

/* Partners */

#partners {
  position: relative;
  min-height: 420px;
  padding-bottom: 0;
  padding-top: 0;
  background: #eee;
}

#partners .grey-box {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: auto;
  background: #444;
}

#partners h2 {
  margin-top: 220px;
  margin-bottom: 220px;
  margin-right: -50px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  transform: rotate(90deg);
}

#partners .row {
  margin-top: 110px;
}

#partners figure,
#partners img {
  display: block;
  width: 180px;
  height: 180px;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Services */

#services h2 {
  margin: -10px 10% 20px;
}

#services p {
  margin: 0 5% 40px;
  padding: 0;
}

#subscribe {
  padding: 240px 0;
  background: #ccc url(../img/bgs/subscribe.jpg) center center no-repeat;
  background-size: cover;
}

#subscribe-form {
  padding: 40px 100px;
  background: rgba(0,0,0,.35);
}

#subscribe-form input {
  height: 40px !important;
  line-height: 38px;
  font-size: 12px;
  border-radius: 1px;
  border: none !important;
}

#subscribe-form input[type="email"] {
  width: 400px;
  color: #444;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
  background: #f2f2f2;
}

#subscribe-form p {
  color: #fff;
  padding: 10px 10px 0;
  text-transform: uppercase;
}

/* Testimonials */

.nav-testimonials .list-inline {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#testimonials {
  background: rgba(170,170,170,.1);
}

#testimonials blockquote {
  margin: 0;
  padding: 40px 20px 60px;
  border: none;
}

#testimonials blockquote p {
  padding-bottom: 30px;
  color: #999;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  font-family: 'Lato', sans-serif;
}

#testimonials blockquote cite {
  margin: 0;
  padding: 0;
  color: #6b6b6b;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato', sans-serif;
}

blockquote.left-line::before,
blockquote.center-line::before,
blockquote.right-line::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 8%;
  width: 25%;
  height: 3px;
  background: #fbbd00;
}

blockquote.center-line::before {
  left: 37.5%;
}

blockquote.right-line::before {
  left: 67%;
}

#testimonials ul li {
  margin: 0;
  padding: 0;
}

#testimonials ul li a {
  display: inline-block;
  content: '';
  width: 12px;
  height: 12px;
  margin: 0 2px;
  padding: 0;
  border-radius: 8px;
  background: #aaa;
}

#testimonials ul li.active a {
  background: #6b6b6b;
}

/* Contact Form */

#contact h2 {
  margin-bottom: 30px;
}

#contact address {
  font-style: italic;
}

#contact-form {
  margin-top: 40px;
}

#contact-form input,
#contact-form textarea {
  color: #444;
  font-size: 12px;
  border-radius: 1px;
  border: none;
  height: 40px;
  line-height: 38px;
  padding: 0 15px;
  background: #eee;
  box-shadow: none;
}

#contact-form textarea {
  min-height: 100px;
  line-height: normal;
  padding-top: 12px;
  padding-bottom: 12px;
}

#contact-form label {
  line-height: 24px;
}

/* Google Map */

#map {
  margin: 0;
  padding: 0;
}

#googleMap {
  display: block;
  width: 100%;
  height: auto;
  min-height: 500px;
  margin: 0 !important;
  padding: 0 !important;
}

/* FOOTER */

footer {
  position: relative;
  display: block;
  height: 100px;
  line-height: 100px;
  background: #2e2e2e url(../img/bgs/subscribe.jpg) center center no-repeat;
  background-size: cover;
  z-index: 1000;
}

footer a {
  color: #eee;
  font-size: 12px;
  padding-right: 8px;
}

footer a:last-child {
  padding-right: 0;
}

footer a i.fa {
  color: #eee;
}

footer a.text-center.top {
  position: absolute;
  top: 0;
  color: #eee;
  font-weight: 400;
  left: 40%;
  right: 40%;
}

footer a:hover,
footer a:hover i.fa {
  color: #eee;
}

footer a.text-center.top {
  position: absolute;
  top: 0;
  color: #eee;
  font-weight: 400;
  left: 40%;
  right: 40%;
}